@page "/sandbox"
@using CodeMechanic.Todoist
@* @rendermode InteractiveServer *@
@inject ITodoistService todoist;

<PageTitle>Sandbox</PageTitle>

<script>   
// function setup_sandbox() {
//     return {
//         open: false
//     }
// }
</script>

<h1>Hello there!</h1>

<div x-data="{
    open: false
}" class="card bg-base-200 w-80">
    <div class="card-body">
        <input placeholder="Email" class="input input-bordered"/>
        <label class="label cursor-pointer">
            Accept terms of use
            <input type="checkbox" class="toggle"/>
        </label>
        <label class="label cursor-pointer">
            Submit to newsletter
            <input type="checkbox" class="toggle"/>
        </label>
        <button class="btn btn-neutral">Save</button>
    </div>

    <button x-on:click="open = true">Expand</button>

    <span x-show="open">
        Content...
    </span>


</div>
@* *@
@* <section> *@
@*     <button x-on:click="open = !open" type="button" *@
@*             class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:col-start-2 sm:text-sm"> *@
@*         Deactivate *@
@*     </button> *@
@* </section> *@



@code {


}